table {

}


/*table, th, td {
  border: 1px solid black;
}*/

  td {
    border: solid 1px #cccccc;
    vertical-align: center;
    padding: 1%;
    width: 30%;

}

.content {
  display: none;
}

.collapsible{
  outline: none;
}

.sponsor {
  width: 100%;

}

.task_title {
  text-decoration: underline;
}
