<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/xcbohl">XC Bohl 2018</a></li>
				<li><a href="/GSSK">GSSK</a></li>
				<li><a href="https://rucsoundings.noaa.gov/gwt/?data_source=Op40&latest=latest&start_year=2017&start_month_name=Mar&start_mday=10&start_hour=4&start_min=0&n_hrs=18&fcst_len=shortest&airport=29.25,-96.15&gwt=Interactive%20plot&hydrometeors=false&start=latest" target="_blank">Weather (Skew T Log P)</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="#">email</a></li>
	        		<li><a href="https://github.com/f0n/">github.com/f0n</a></li>
				</ul>
			</footer>
		</body>
	</html>

